@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px 0px auto 0px;
    background-color: #1e2229;
}

header {
    margin: auto;
    padding: 0px 0px;
    background-image: url(euwb.jpg);
    background-position: center;
    background-size: cover;
    min-height: 410px;
    height: 90%;
    transition: 500ms;
    box-shadow: 1px 1px 8px rgb(21, 20, 24);
}

header:hover {
    background-image: url(eu.jpg);
    transition: 500ms;
}

header > h1 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
    margin: auto;
    padding: 50px 0px 10px 0px;   
    font-variant: small-caps;
}

header > p {
    text-align: center;
    text-shadow: 0px 0px 5px black;
    width: 450px;
    margin: auto;
    padding-bottom: 20px;
}

header > h3 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
    margin: 20px auto 0px auto;
}

header > nav {
    text-align: center;
    margin: auto;
}

header > nav > a {
    display: contents;
}

.findme {
    display: inline-block;
    margin: 10px 10px;
    transition: 500ms;
}

.findme:hover {
    width: 56px;
    height: 56px;
    transition: 500ms;
}

/**/

.projects{
    text-align: center;
    margin-bottom: 100px;
}

.projects > h2 {
    padding-top: 15px;
}

.projects > button {
    width: 400px;
    height: 80px;
    margin: 15px 30px;
    color: white;
    font-size: 22px;
    background-color: #2e2e2e;
    border-radius: 10px;
    text-shadow: 2px 2px 5px black;
    box-shadow: 1px 1px 6px black;
}

/**/

.SCA {
    background-image: url(SCAwb.jpg);
    background-size: cover;
    background-position: center;
    transition: 500ms;

}
.SCA:hover {
    background-image: url(SCAwob.jpg);
    transition: 500ms;
}
section > .SCA {
    text-align: center;
    padding: 120px;
}
section > div {
    box-shadow: 0px 0px 6px black;
}
.SCA > h2 {
    text-shadow: 2px 2px 5px black;

}

section > article{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
section > article > div {
    margin: 50px;
}

iframe {
    display: block;
    margin: auto;
}

section > article > div > p{
    max-width: 500px;
}

/**/

#CAR {
    background-image: url(CARwb.jpg);
    background-size: cover;
    background-position: 0px -40px ;
    transition: 500ms;

}
#CAR:hover {
    background-image: url(CARwob.jpg);
    transition: 500ms;
}

footer {
    text-align: center;
    margin: 10px 0px 0px 0px;
    background-color: black;
}