@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkslateblue;
}
h2 {
    color: darkslateblue;
}
p {
    color: darkslateblue;
    text-align: justify;
}
